{% extends 'base.html' %}
{% block content %}
</div>
<div class="container" >
  <div id='first'>
    <h2>plans<h2>
      <h3>{{k.Plans}}
  </div>
  <div id='second'>
    <h2>Custmor</h2>
    <h3>{{k.Custmor}}</h3>
  </div>
  <div id='third'>
    <h2>Employee</h2>
    <h3>{{k.Employ}}</h3>
  </div>
  <div id='fourth'>
    <h2>Complainet</h2>
    <h3>{{k.Compalin}}</h3>
  </div>
  </div>
<div class="Copyright">
  <h2>Copyright @ 2019 all Right Reserved</h2>
  <p style="display:inline;">Design and Developed By</p><p style="display:inline;color:red;">Priyam Bajpai</p>
  </div>
{% endblock %}


<style type="text/css">
.data{
  text-align: center;
  margin-top: 20%;
  width: 320px;
  height: 50px;
  border-color: 5px solid black;


}
.container{
  margin-left: 190px;
  margin-right: 100px;
  left: 20%;
  margin-top: 150px;
  margin-bottom:200px;
  width: 1000px;
  height:120px;
  color:yellow;
  border-radius: 3%;
  border-color: black;
  background-color:yellow;

}
.divisoin{
  margin: 0px;
  width: 20%;
  height: 10%;
  color: gray;
}
#first{ 
  text-align: center;
    display:inline;
  float: right;
  margin: 0px;
  padding: 0px;
  color: black;
  text-align: center;
  width: 250px;
  height: 100%;
  background-color:#FAEBD7;
   border-color: black;
  border-radius: 7%;
}
#second{
  border-color: black;
  border-radius: 7%;
  text-align: center;
  float: right;
  display: inline;
  margin: 0px;
  padding: 0px;
  color: black;
  width: 250px;
  height: 100%;
  background-color:#00FFFF;
}
#third{
   border-color: black;
  border-radius: 7%;
  text-align: center;
  display:inline;
  float: right;
  margin: 0px;
  padding: 0px;
  color: black;
  width: 250px;
  height: 100%;
  background-color:#DEB887;
}
#fourth{
  text-align: center;
  display:inline;
  float: right;
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: black;
  width: 250px;
  background-color:#FFF8DC;
}
</style>
